<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	<!-- 给实体Bean一个别名-->
		<typeAlias type="com.waimai.model.permission.User" alias="User" />
		<typeAlias type="com.waimai.model.permission.Role" alias="Role" />
		<typeAlias type="com.waimai.model.permission.Resource" alias="Resource"/>
		<typeAlias type="com.waimai.model.order.OrderItem" alias="OrderItem"/>
		<typeAlias type="com.waimai.model.permission.Menu" alias="Menu"/>
		<typeAlias type="com.waimai.model.permission.Log" alias="Log"/>
		<typeAlias type="com.waimai.model.order.GoodOrder" alias="GoodOrder"/>
		<typeAlias type="com.waimai.model.dish.Dish" alias="Dish"/>
		<typeAlias type="com.waimai.model.business.Business" alias="Business" />
	</typeAliases>
</configuration>